
h1{
    margin-top: 50px;
    margin-bottom: 30px;
}


table{
    padding: 30px;
    margin-left: 50px;
    margin-top: 70px;
    width: 200px;
}

td{
    padding: 15px 40px;
    margin-right: 30px;
}
